* {
  box-sizing: boder-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  margin: 5px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.App > h1 {

  display:flex;
  justify-content: center;
  color: blue;
}
.App > h2 {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
}


.App:hover {
  background-color: rgb(255, 0, 204);
}
.App > h1:hover {
  color: blueviolet;
}
.App > h2:hover {
  color: rgb(3, 143, 213);
}